/**
 * ./src/style/FindPage.scss
 * 목격 페이지 scss
 */

.find {
    margin-right:0.2%;
    margin-bottom:-1%;
    margin-top:-2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .find-page-upload-btn {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.findpage-moreInfo {
    margin-left:1%;
    margin-right:0.5%;
    margin-bottom:-1%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .findpage-moreInfo-btn {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: none;
        color: black;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.findpage-chart {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-top: 1.0%;
    margin-bottom: 0%;
    background-color: #eef5ed;
    

    .find-pie {
        width: 23%;
        height: 30;
        float: right;
        background-color: #eef5ed;
        border-radius: 0px 10px 10px 0px;

        .find-pie-p1 {
            padding-top: 5%;
            color: #376330;
        }
    }

    .find-bar {
        width: 77%;
        height: 30%;
        float: left;
        background-color: #eef5ed;
        border-radius: 10px 0px 0px 10px;

        .find-bar-p1 {
            padding-top: 1%;
            padding-left: 20%;
            color: #376330;
        }
    }
}