/**
 * ./src/style/MissPage.scss
 * 실종 페이지 scss
 */

.miss {
    display: flex;
    position: relative;
    align-items: center;
    
    justify-content: space-between;

    margin-right:0.2%;
    margin-bottom:-1%;

    .miss-page-upload-btn {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.misspage-moreInfo {
    margin-left:1%;
    margin-right:0.5%;
    margin-bottom:-1%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .misspage-moreInfo-btn {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: none;
        color: black;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.carousel {
    width: 98%;

    margin: auto;
}

.misspage-chart {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-top: 1.0%;
    margin-bottom: 0%;
    background-color: #eef5ed;
    

    .miss-pie {
        width: 25%;
        height: 20%;
        float: right;
        //margin-right: 1px;
        background-color: #eef5ed;
        border-radius: 0px 10px 10px 0px;

        .miss-pie-p1 {
            margin-right: 15px;
            padding-top: 5%;
            color: #376330;
        }
    }

    .miss-bar {
        padding-top: 2%;
        width: 75%;
        height: 30%;
        float: left;
        background-color: #eef5ed;
        border-radius: 10px 0px 0px 10px;

        .miss-bar-p1 {
            //float: center;
            padding-top: 1%;
            //padding-right: 0%;
            padding-left: 40%;
            color: #376330;
        }
    }
}